@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border font-hanken;
  }

  .custom-container {
    @apply 3xl:max-w-[1440px] 2xl:max-w-[1280px] xl:max-w-[1120px] xl:mx-auto md:mx-8 mx-6;
  }

  body {
    @apply bg-background text-foreground;
  }

  .btn {
    @apply w-auto h-10 xl:h-[50px] px-4 md:pl-6 flex gap-2 items-center rounded-[16px] text-base font-bold text-[#15171E] bg-transparent !important;
  }

  .btn.active {
    @apply w-auto h-10 xl:h-[50px] px-4 md:pl-6 flex gap-2 items-center rounded-[16px] text-base font-bold bg-[#02e56a] text-[#15171E] relative after:content-[''] after:z-[-1] after:absolute after:w-full after:h-full after:rounded-[16px] after:left-0 after:bottom-[0] after:translate-x-0 after:translate-y-0 after:bg-[#00813B] hover:after:translate-x-[-2px] hover:bg-[#02E56A] hover:text-black hover:after:translate-y-[3px] after:transition-all duration-200 !important;
  }

  .bg-radial-gradient {
    box-sizing: border-box;
    background-size: cover;
    background-position: 0px 0px;
    background-image: radial-gradient(
      75% 75% at 105% 94%,
      #01190cff 0%,
      #015822ff 0%,
      #151f15ff 100%
    );
  }

  .bg-border-gradient {
    background-size: cover;
    background-image: radial-gradient(
      75% 75% at 105% 94%,
      #01190cff 0%,
      #05be5a 0%,
      #151f15ff 100%
    );
  }

  .typing {
    color: #fff;
    /* text-shadow: 0 0 3px #3399FF; */
    /* font: bold 300% Consolas, Monaco, monospace; */
    border-right: 5px solid black;
    width: 100%;
    width: 595px;
    /* margin: 2em 1em; */
    white-space: nowrap;
    overflow: hidden;
    animation: tyg 3s steps(21, end) infinite,
      blink-caret 0.8s step-end infinite alternate;
  }

  @keyframes tyg {
    from {
      width: 0;
    }
  }

  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  .card {
    --start: 0;
    transition: border-color 0.3s ease-in-out;
  }

  .card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: 2px solid #05be5a;
    mask: linear-gradient(#0000, #0000),
      conic-gradient(
        from calc(var(--start) * 1deg),
        #ffffff1f 0deg,
        white,
        #ffffff00 100deg
      );
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: 0; /* Hidden initially */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
  }

  .card:hover::before {
    opacity: 0.6; /* Show border on hover */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; 
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }
}
